Source: ubuntu-security-guides-enhanced
Section: misc
Priority: optional
Maintainer: Ubuntu Security <security@ubuntu.com>
Build-Depends:  pandoc,
                debhelper (>= 13),
                dh-python,
                pybuild-plugin-pyproject,
                python3-pytest,
                python3-all,
                dh-sequence-bash-completion
Standards-Version: 4.6.2

Package: usg
Architecture: all
Depends: usg-benchmarks, openscap-scanner, ${python3:Depends}, ${misc:Depends}
Conflicts: usg-common
Recommends: usg-benchmarks-1
Description: tool for security auditing and hardening
 This package contains a helper application to simplify the auditing
 and hardening executions.

Package: usg-benchmarks
Architecture: all
Depends: ${misc:Depends}
Description: SCAP content for CIS and STIG Ubuntu Benchmarks
 This package contains SCAP content to support the automation of
 compliance evaluation for CIS and DISA STIG.
 .
 SCAP (Security Content Automation Protocol) is a set of standards to
 enable automated vulnerability amanagement, measurement, and policy
 compliance evaluation of systems deployed in an organization.
 The SCAP content in this package is expected to be passed into SCAP
 auditing tools that utilize the Extensible Configuration Checklist
 Description Format (XCCDF). It was tested with openSCAP which has been
 extended to include bash scripts as part of the content.
