#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk

export USG_STATE_DIR=var/lib/usg
export USG_MODULE_DIR=usr/share/usg
export USG_BENCHMARKS_DIR=usr/share/usg-benchmarks

%:
	dh $@ --with=python3 --buildsystem=pybuild

# avoid changing gzipped datastreams (they are static anyhow)
override_dh_strip_nondeterminism:
	dh_strip_nondeterminism --exclude=.xml.gz

# usg is installed as a private module to /usr/share/usg
# so we need to byte-compile manually
override_dh_python3:
	dh_python3 usr/share/usg/usg

override_dh_auto_build:
	pandoc doc/man8/usg.md -s -t man -o doc/man8/usg.8
	pandoc doc/man7/usg-variables.md -s -t man -o doc/man7/usg-variables.7
	pandoc doc/man7/usg-rules.md -s -t man -o doc/man7/usg-rules.7
	pandoc doc/man7/usg-cis.md -s -t man -o doc/man7/usg-cis.7
	dh_auto_build

override_dh_auto_clean:
	rm -rf doc/man7/usg-cis.7
	rm -rf doc/man7/usg-rules.7
	rm -rf doc/man7/usg-variables.7
	dh_auto_clean
