#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export DESTDIR=usr/share/ubuntu-scap-security-guides
export DEB_VERSION
#PKG_NAME:=$(shell grep -Po '(?<=Package: )usg-benchmarks-\d+' debian/control)
BENCHMARK_NAME?=$(shell grep -Po '(?<=Package: )usg-benchmarks-\d+' debian/control)
BENCHMARK_VERSION?=$(shell grep -Po '(?<=Package: usg-benchmarks-)\d+' debian/control)
export BENCHMARK_VERSION

%:
	dh $@

override_dh_auto_build-indep:
	# Compile the documents
	pandoc doc/man8/usg.md -s -t man -o doc/man8/usg.8
	pandoc doc/man7/usg-variables.md -s -t man -o doc/man7/usg-variables.7
	pandoc doc/man7/usg-rules.md -s -t man -o doc/man7/usg-rules.7
	pandoc doc/man7/usg-cis.md -s -t man -o doc/man7/usg-cis.7

override_dh_install:
	ln -sf usg-cis.7 doc/man7/usg-cis-$(BENCHMARK_VERSION).7
	ln -sf usg-rules.7 doc/man7/usg-rules-$(BENCHMARK_VERSION).7
	ln -sf usg-variables.7 doc/man7/usg-variables-$(BENCHMARK_VERSION).7
	# Update links based on package name from debian/control
	# The number after the dash, in the debian/control represents the
	# benchmarks package version.
	# This approach allows users to install benchmarks packages with different
	# benchmarks package versions in the same system.
	ln -sf usg-benchmarks.dirs debian/$(BENCHMARK_NAME).dirs
	ln -sf usg-benchmarks.install debian/$(BENCHMARK_NAME).install
	ln -sf usg-benchmarks.manpages debian/$(BENCHMARK_NAME).manpages
	ln -sf usg-benchmarks.postinst debian/$(BENCHMARK_NAME).postinst
	ln -sf usg-benchmarks.prerm debian/$(BENCHMARK_NAME).prerm
	
	dh_install

override_dh_clean:
	rm -rf debian/usg-benchmarks-*
	find doc/ -xtype l -delete
	dh_clean

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#       dh_auto_configure -- #  -DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
